<div>
  <form (submit)="onSubmit()">
    <label for="content">Contenido del Comentario:</label>
    <textarea id="content" name="content" [(ngModel)]="comment.content" required></textarea>
    <button type="submit">Enviar Comentario</button>
  </form>
</div>

<hr>

<div *ngFor="let response of comment.comment">
  <p>{{ response.content }}</p>
  <p>{{ response.timeCreated }}</p>
</div>

<div>
  <label for="newResponse">Responder:</label>
  <textarea id="newResponse" name="newResponse" [(ngModel)]="newResponse" required></textarea>
  <button (click)="addResponse()">Enviar Respuesta</button>
</div>
